:root {
  --dark-pink: #D31941;
  --light-pink: rgb(255, 193, 206);
  --faded-pink: rgba(255, 193, 206, .25);
  --light-blue: rgb(193, 236, 255);
  --faded-blue: rgba(193, 236, 255, .25);
  --dark-blue: #55A3FC;
  --green: rgb(127, 196, 31);
  --faded-green: rgba(127, 196, 31, .25);
  font-family: 'Varela Round', sans-serif;
}

body {
  font-family: 'Varela Round', sans-serif;
}

.japanese {
  font-family: 'Kosugi Maru', sans-serif;
}

.navbar {
  background-color: white;
  box-shadow: 2px 2px 5px var(--light-blue);
}

h1, h2, h3, h4, p, dl {
  color: var(--dark-blue);
}

.btn {
  background-color: var(--green);
  border: none;
}

.btn:hover {
  transform: scale(1.05);
  background-color: var(--green);
}

input, input:hover, input:active {
  background-color: white;
  border: 3px solid var(--dark-blue);
}

.login {
  color: var(--dark-blue);
}

.register {
  background-color: var(--faded-green);
  border-radius: 5px;
  width: 30%;
}

.error {
  background-color: var(--light-pink);
  color: var(--dark-pink);
}

/* .landing {
} */

.description {
  background-color: var(--faded-pink);
}

.sensei {
  background-color: var(--faded-blue);
}