:root {
  --dark-pink: #D31941;
  --light-pink: rgb(255, 193, 206);
  --faded-pink: rgba(255, 193, 206, .25);
  --light-blue: rgb(193, 236, 255);
  --faded-blue: rgba(193, 236, 255, .25);
  --dark-blue: #55A3FC;
  --myGreen: rgb(127, 196, 31);
  --faded-green: rgba(127, 196, 31, .25);
  --gray:rgba(182, 182, 182, 0.25);
  --dark-gray: rgba(107, 107, 107, 0.25);
  font-family: 'Varela Round', sans-serif;
}


body {
  font-family: 'Varela Round', sans-serif;
  background-color: var(--faded-blue);
}

.japanese, .gameWord {
  font-family: 'Kosugi Maru', sans-serif;
}

.gameWord {
  font-size: 6em;
}

.scoreContainer {
  border: 2px solid var(--dark-blue);
  background-color: white;
  width: 40%;
  height: 2.5em;
  border-radius: 20px;
}

.scoreInside {
  background-color: var(--myGreen);
  border-right: 0px solid white;
  height: 2.3em;
  border-radius: 20px;
}

.finalScore {
  background-color: white;
  border-radius: 20px;
}

.navbar {
  background-color: white;
  box-shadow: 2px 2px 5px var(--light-blue);
}

.blueShadow {
  box-shadow: 5px 5px 5px var(--light-blue);
}

h1, h2, h3, h4, h5, h6, p, dl {
  color: var(--dark-blue);
}

.btn {
  color: var(--dark-blue);
  background-color: white;
  border: 3px solid var(--dark-blue);
  box-shadow: none;
  outline: none;
}

.btn:hover {
  transform: scale(1.05);
  color: var(--dark-blue);
  background-color: white;
  border: 3px solid var(--dark-blue);
  box-shadow: none;
  outline: none;
}

.btn:active, .btn:focus {
  outline: none;
  box-shadow: none;
}

input, input:hover, input:active {
  background-color: white;
  border: 3px solid var(--dark-blue);
}


.login {
  color: var(--dark-blue);
}

.homeLogo:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.register {
  background-color: var(--faded-green);
  border: 5px solid var(--myGreen);
  border-radius: 5px;
  width: 500px;
}

.error {
  background-color: var(--light-pink);
  color: var(--dark-pink);
}

.wrong {
  background-color: var(--light-pink);
  width: 30%
}

.wrong p {
  color: var(--dark-pink);
}

.correct {
  background-color: var(--faded-green);
  width: 30%;
}

.correct p {
  color: var(--green);
}

.practice {
  margin: 0 auto;
  width: 80%;
}

.sensei {
  background-color: var(--faded-green);
}

.menu {
  background-color: var(--faded-green);
  border: 5px solid var(--dark-blue);
  width: 25em;
}

.menuDisabled {
  background-color: var(--gray);
  border: 5px solid var(--dark-gray);
  width: 25em;
}

.menu-title:hover {
 transform: scale(1.05);
 cursor: pointer;
}

.menu-titleDisabled {
  color: var(--dark-gray);
 }

.menuDropdown {
  background-color: var(--faded-green);
}

.menuHeading {
  color: var(--myGreen);
  background-color: white;
  border-radius: 20px;
}

.menuHeadingDisabled {
  color: var(--dark-gray);
  border-radius: 20px;
}

.locked {
  color: var(--dark-gray);
}

@keyframes senseiAnimation {
  0% {transform: rotate(0deg)}
  25% {transform: rotate(10deg)}
  50% {transform: rotate(0deg)}
  75% {transform: rotate(-10deg)}
  100% {transform: rotate(0deg)}
}

@-o-keyframes senseiAnimation {
  0% {transform: rotate(0deg)}
  25% {transform: rotate(10deg)}
  50% {transform: rotate(0deg)}
  75% {transform: rotate(-10deg)}
  100% {transform: rotate(0deg)}
}

@-webkit-keyframes senseiAnimation {
  0% {transform: rotate(0deg)}
  25% {transform: rotate(10deg)}
  50% {transform: rotate(0deg)}
  75% {transform: rotate(-10deg)}
  100% {transform: rotate(0deg)}
}

@-moz-keyframes senseiAnimation {
  0% {transform: rotate(0deg)}
  25% {transform: rotate(10deg)}
  50% {transform: rotate(0deg)}
  75% {transform: rotate(-10deg)}
  100% {transform: rotate(0deg)}
}

#sensei {
  -webkit-animation: senseiAnimation 10s 5 ease;
  -moz-animation: senseiAnimation 10s 5 ease;
  -o-animation: senseiAnimation 10s 5 ease;
  animation: senseiAnimation 10s 5 ease;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 20em;
  height: 10em;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you click and hold on the flip box container */
.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:hover {
  cursor: pointer;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  border: 2px solid var(--myGreen);
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  box-shadow: 5px 5px 5px var(--light-blue);
  background-color: var(--faded-green);
  color: var(--dark-blue);
}

/* Style the back side */
.flip-card-back {
  box-shadow: 5px 5px 5px var(--light-blue);
  background-color: var(--faded-green);
  color: var(--dark-blue);
  transform: rotateY(180deg);
}

@keyframes shake {
  0% {transform: translate(0px)}
  25% {transform: translate(2px)}
  50% {transform: translate(-2px)}
  75% {transform: translate(2px)}
  100% {transform: translate(0px)}
}

@-o-keyframes shake {
  0% {transform: translate(0px)}
  25% {transform: translate(2px)}
  50% {transform: translate(-2px)}
  75% {transform: translate(2px)}
  100% {transform: translate(0px)}
}

@-webkit-keyframes shake {
  0% {transform: translate(0px)}
  25% {transform: translate(2px)}
  50% {transform: translate(-2px)}
  75% {transform: translate(2px)}
  100% {transform: translate(0px)}
}

@-moz-keyframes shake {
  0% {transform: translate(0px)}
  25% {transform: translate(2px)}
  50% {transform: translate(-2px)}
  75% {transform: translate(2px)}
  100% {transform: translate(0px)}
}

.shake {
  -webkit-animation: shake .5s linear;
  -moz-animation: shake .5s linear;
  -o-animation: shake .5s linear;
  animation: shake .5s linear;
}