:root {
  --dark-pink: #D31941;
  --light-pink: rgb(255, 193, 206);
  --faded-pink: rgba(255, 193, 206, .25);
  --light-blue: rgb(193, 236, 255);
  --faded-blue: rgba(193, 236, 255, .25);
  --dark-blue: #55A3FC;
  --myGreen: rgb(127, 196, 31);
  --faded-green: rgba(127, 196, 31, .25);
  font-family: 'Varela Round', sans-serif;
}


body {
  font-family: 'Varela Round', sans-serif;
  background-color: var(--faded-blue);
}

.japanese, .gameWord {
  font-family: 'Kosugi Maru', sans-serif;
}

.gameWord {
  font-size: 10em;
}

.navbar {
  background-color: white;
  box-shadow: 2px 2px 5px var(--light-blue);
}

.blueShadow {
  box-shadow: 5px 5px 5px var(--light-blue);
}

h1, h2, h3, h4, h5, h6, p, dl {
  color: var(--dark-blue);
}

.btn {
  color: var(--dark-blue);
  background-color: white;
  border: 3px solid var(--dark-blue);
  box-shadow: none;
  outline: none;
}

.btn:hover {
  transform: scale(1.05);
  color: var(--dark-blue);
  background-color: white;
  border: 3px solid var(--dark-blue);
  box-shadow: none;
  outline: none;
}

.btn:active, .btn:focus {
  outline: none;
  box-shadow: none;
}

input, input:hover, input:active {
  background-color: white;
  border: 3px solid var(--dark-blue);
}


.login {
  color: var(--dark-blue);
}


.register {
  background-color: var(--faded-green);
  border: 5px solid var(--myGreen);
  border-radius: 5px;
  width: 500px;
}

.error {
  background-color: var(--light-pink);
  color: var(--dark-pink);
}

.wrong {
  background-color: var(--light-pink);
  width: 30%
}

.wrong p {
  color: var(--dark-pink);
}

.correct {
  background-color: var(--faded-green);
  width: 30%;
}

.correct p {
  color: var(--green);
}

.practice {
  margin: 0 auto;
  width: 80%;
}

.description {
  background-color: var(--faded-pink);
}

.sensei {
  background-color: var(--faded-green);
}

.menu {
  background-color: var(--faded-green);
  border: 5px solid var(--dark-blue);
  width: 30%;
}

.menuDropdown {
  background-color: var(--faded-green);
}

@keyframes senseiAnimation {
  0% {transform: rotate(0deg)}
  25% {transform: rotate(10deg)}
  50% {transform: rotate(0deg)}
  75% {transform: rotate(-10deg)}
  100% {transform: rotate(0deg)}
}

@-o-keyframes senseiAnimation {
  0% {transform: rotate(0deg)}
  25% {transform: rotate(10deg)}
  50% {transform: rotate(0deg)}
  75% {transform: rotate(-10deg)}
  100% {transform: rotate(0deg)}
}

@-webkit-keyframes senseiAnimation {
  0% {transform: rotate(0deg)}
  25% {transform: rotate(10deg)}
  50% {transform: rotate(0deg)}
  75% {transform: rotate(-10deg)}
  100% {transform: rotate(0deg)}
}

@-moz-keyframes senseiAnimation {
  0% {transform: rotate(0deg)}
  25% {transform: rotate(10deg)}
  50% {transform: rotate(0deg)}
  75% {transform: rotate(-10deg)}
  100% {transform: rotate(0deg)}
}

#sensei {
  -webkit-animation: senseiAnimation 10s 5 ease;
  -moz-animation: senseiAnimation 10s 5 ease;
  -o-animation: senseiAnimation 10s 5 ease;
  animation: senseiAnimation 10s 5 ease;
}